@import "tailwindcss";

@theme {
  --color-titles: #000c92;
  --color-bor-card: #9acdff;
  --color-btn: #59a8f8;
  --color-blur-span: #1d4ed8;
  --color-blur-shadow: 0 0 1000px 50px #1d4ed8;
  --color-text-faq: #575757;
  /* gradiente */
  --color-purple: #c5bcff;
  --color-cyan: #66e1ff;
}
